@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.footer {
    margin-top: auto;
    background-color: #1d1e22;
}

.footer p { 
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-family: Magra, Verdana, Geneva, Tahoma, sans-serif;
}
